
.herocontainar{
   width: 100vw;
   min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../assets/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    align-items: center;
    color: white;
    margin-bottom: 100px;
}
.hero-text h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    color: white;
}